<!DOCTYPE html>
<html lang="ko">

<head>
    <%- include('./partial/head') %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">-->
    <!-- axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Custom styles for this template -->
    <link href="/public/css/login.css" rel="stylesheet">
</head>

<body class="text-center">
    <main class="form-signin" style="max-width: 500px;">
        <form>
            <img src="/public/images/prepared.png" style="width:200px; margin-bottom: 30px;"><br>
            <p style="font-size: 40px;">
                <span style="font-weight: bold;">서비스 준비중</span>입니다.
            </p>
            <p style="font-size: 15px;">
                보다 나은 서비스 제공을 위하여 페이지 준비중에 있습니다.<br>빠른 시일내에 준비하여 찾아뵙겠습니다.
            </p>
            <a href="/sub/list"  class="btn btn-lg btn-primary font-weight-bold"
                style="margin-top: 10px; width: 60%; margin-top: 30px;">확인</a>
        </form>
    </main>
</body>

</html>