<!DOCTYPE html>
<html lang="ko">

<head>
    <%- include('./partial/head') %>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
            integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

        <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">-->
        <!-- axios -->
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <!-- Custom styles for this template -->
        <link href="/public/css/login.css" rel="stylesheet">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Gothic+A1:wght@700&display=swap" rel="stylesheet">

        <style>
            button {
                background-color: transparent;
                background-repeat: no-repeat;
                border: none;
                cursor: pointer;
                overflow: hidden;
                outline: none;
                font-weight:bold;
                font-size: 32px;
                font-family: 'Gothic A1', sans-serif;
            }
        </style>
        
        <script>
            'use strict'
            function btn_click() {
                location.href ="/";
            }

            window.onload =async function(){
                
                const response = await fetch('/public/subinfo.json');
                const res = await response.json();
                // const data = await JSON.stringify(res.data);
                const data = await res;
                console.log(data);
                
                Object.keys(data).forEach(function(element){
                    const container = document.getElementById('service-container');

                    container.innerHTML += `
                        <a href="list/${element}" class="list-group-item list-group-item-action">
                            <img src="${data[element].icon}" style="width:50px; height:50px; border-radius: 50px;">
                            <b style="margin-left: 15px;">${data[element].displayname}</b>
                        </a>
                    `;
                });
            }
        </script>
</head>

<div class="container">
    <main style="position: absolute; width: 350px; left: 50%; top: 150px; transform: translate(-50%);">
        <body>
            <!-- <img id='sub_img' src='https://pbs.twimg.com/profile_images/1186112524401295360/R2-Zidyb.jpg' style="width:100px; height:100px; border-radius: 12px; border: 1px solid #CED4DA;"><br> -->
            <button class="text-primary mb-5" onclick="btn_click();"><</button>
            <h6 class="text-primary">구독 추가하기</h3>
            <h3 style="font-weight: bold;">구독 서비스 정보를</h3>
            <h3 style="font-weight: bold; margin-bottom: 20px;">입력해주세요 ✍️</h3>
            <div id="service-container" class="list-group" style="border-radius: 20px; margin-bottom: 150px; margin-top: 30px;">
                <!-- <a href="#" class="list-group-item list-group-item-action">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/7/75/Netflix_icon.svg" style="width:50px; height:50px; border-radius: 50px;">
                        <b style="margin-left: 10px;">넷플릭스</b>
                </a>
                <a href="#" class="list-group-item list-group-item-action">

                        <img src="https://www.dlive.kr/upload/med/news/1624863551128.png" style="width:50px; height:50px; border-radius: 50px;">
                        <b style="margin-left: 10px;">왓챠</b>
                </a> -->
            </div>
        </body>
    </main>
</div>

</html>