<!DOCTYPE html>
<html lang="ko">

<head>
  <%- include('./partial/head') %>
    <!-- Custom styles for this template -->
    <link href="/public/css/signin.css" rel="stylesheet">

    <script>
      function btn_click() {
        location.href ="/sub/list";
      }

      function id_message() {
        let x = document.getElementsByClassName("info_text")[0];
        x.innerText = "넷플릭스 이메일 혹은 전화번호를 입력해주세요";
        document.getElementById('password_text').style.color = "black"
        document.getElementById('id_text').style.color = "#007BFF"
      }

      function password_message() {
        let x = document.getElementsByClassName("info_text")[0];
        x.innerText = "비밀번호를 입력해주세요";
        document.getElementById('password_text').style.color = "#007BFF"
        document.getElementById('id_text').style.color = "black"
      }
    </script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gothic+A1:wght@700&display=swap" rel="stylesheet">

    <style>
      #back {
        background-color: transparent;
        background-repeat: no-repeat;
        border: none;
        cursor: pointer;
        overflow: hidden;
        outline: none;
        font-weight: bold;
        font-size: 32px;
        font-family: 'Gothic A1', sans-serif;
      }
    </style>

</head>

<body class="text-center">
  <main class="form-signin">
    <button id="back" class="text-primary mb-5" style="display: flex;" onclick="btn_click();"><</button>
    <form id="frm" method="POST" action="/sub/loading" onsubmit="onSubmit(event)">
          <h6 class="text-primary" style="text-align: left;">
            <%- company %> 등록하기
          </h6>
          <h3 style="text-align: left; font-weight: bold;" class="info_text">
            <%- company %> 이메일 혹은 전화번호를 입력해주세요
          </h3>

          <div class="form-floating">
            <label for="floatingInput" style="display: block; text-align: left" id="id_text">아이디</label>
            <input type="id" class="form-control" name="id" id="floatingInput" placeholder="아이디" onclick="id_message()">
          </div>

          <div class="form-floating">
            <label for="floatingPassword" style="display: block; text-align: left; margin-top: 10px"
              id="password_text">비밀번호</label>
            <input type="password" class="form-control" name="password" id="floatingPassword" placeholder="비밀번호"
              onclick="password_message()">
          </div>

          <div style="background-color: #FFFFFF; border-radius: 12px; border: 1px solid #CED4DA; margin-bottom: 10px;">
            <h5 style="text-align: left; margin-left: 16px; margin-top: 10px; margin-bottom: 1px;">이 계정 저장하기</h5>

            <div class="custom-control custom-control-right custom-switch">
              <input type="checkbox" class="custom-control-input" id="customSwitch">
              <label class="custom-control-label" for="customSwitch" style="color: #6C757D;">계정 정보를 저장했다가, 계정을</label>
            </div>

            <h6 style="text-align: left; margin-left: 16px; color: #6C757D;">잊거나 나중에 다시 구독할 때 <br>사용해요!</h6>

          </div>
          <input name="company" style="display: none;" value=<%- company %>>
          <!-- <img src="https://upload.wikimedia.org/wikipedia/commons/7/75/Netflix_icon.svg" alt="SomeAlternateText"> -->
          <button id="btn" class="w-100 btn btn-lg btn-primary" type="submit">등록하기</button>

    </form>
  </main>
</body>

</html>